<!-- End Offset Wrapper -->
<!-- Start Slider Area -->
<div class="slider__container slider--one">
    <div class="slider__activation__wrap owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <div class="slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url(./images/slider/bg/1.png) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <div class="slider__inner">
                            <h1>New Product <span class="text--theme">Collection</span></h1>
                            <div class="slider__btn">
                                <a class="htc__btn" href="cart.html">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url(./images/slider/bg/2.png) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="slider__inner">
                            <h1>New Product <span class="text--theme">Collection</span></h1>
                            <div class="slider__btn">
                                <a class="htc__btn" href="cart.html">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
</div>
<!-- Start Slider Area -->
<!-- Start Our Product Area -->
<section class="htc__product__area ptb--130 bg__white">
    <div class="container">
        <div class="htc__product__container">
            <!-- Start Product MEnu -->
            <div class="row">
                <div class="col-md-12">
                    <div class="product__menu">
                        <button data-filter="*" class="is-checked">All</button>
                        <button data-filter=".cat--1">Furnitures</button>
                        <button data-filter=".cat--2">Bags</button>
                        <button data-filter=".cat--3">Decoration</button>
                        <button data-filter=".cat--4">Accessories</button>
                    </div>
                </div>
            </div>
            <!-- End Product MEnu -->
            <div class="row product__list">
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/1.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Simple Black Clock</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/2.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--2">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/3.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Brone Candle</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--4">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/4.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Brone Lamp Glasses</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 cat--1 col-md-4 col-sm-12 cat--2">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/5.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Clothes Boxed</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--3">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/6.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Liquid Unero Ginger Lily</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--2">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/7.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Miliraty Backpack</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--2">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/8.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Saved Wines Corkscrew</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--4">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/9.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Simple Fabric Bags</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--3">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/10.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Simple Fabric Chair</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--4">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/11.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Unero Round Sunglass</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--3">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/12.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Unero Small Bag</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--3">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/13.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Wood Complex Lamp Box</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--4">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/14.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Wood Long TV Board</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--4">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/15.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Wood Simple Chair V2</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 single__pro col-lg-3 col-md-4 col-sm-12 cat--3">
                    <div class="product foo">
                        <div class="product__inner">
                            <div class="pro__thumb">
                                <a href="#">
                                    <img src="~/images/product/16.png" alt="product images">
                                </a>
                            </div>
                            <div class="product__hover__info">
                                <ul class="product__action">
                                    <li><a data-bs-toggle="modal" data-bs-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                </ul>
                            </div>
                            <div class="add__to__wishlist">
                                <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href="wishlist.html"><span class="ti-heart"></span></a>
                            </div>
                        </div>
                        <div class="product__details">
                            <h2><a href="product-details.html">Wood Simple Clock</a></h2>
                            <ul class="product__price">
                                <li class="old__price">$16.00</li>
                                <li class="new__price">$10.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
        </div>
    </div>
</section>
<!-- End Our Product Area -->
